.App {
  align-items: center;
  text-align: center;
}

.navbar-links{
  display: flex;
  padding: 20px;
}

.navbar-links a{
  margin-right: 15px;
  font-family: 'Londrina Solid', cursive;
}

.navbar-links a:hover{
  text-decoration: none;
 }


/* global styles */

.title-wrapper{
  margin-top: 100px;
  margin-bottom: 50px;
}

.title-wrapper h1{
  font-family: 'Londrina Solid', cursive;
  color: #571D2E;
  text-align: center;
}

.home-bottom{
  background-color: white;
  margin-top: 35px;
  text-align: center;
}

.home-bottom img{
  width: 200px;
  margin-top: 21.5px;
}

.App-header {
  background-color:#571D2E;
  height: 90px;
  padding: 20px;
  display: flex;
}

.App-header .text-secondary{
  color: #A98638!important;
  font-family: 'Londrina Solid', cursive;
  font-size: 1em;
}

.navbar {
  text-transform: uppercase;
  margin-top: auto;
}

.error-msg{
  color: red!important;
  margin-top: 5px;
  font-size: 12px;
}

.header-logo h4{
  font-family: 'Londrina Solid', cursive;
  color: #A98638;
  position: relative;
  bottom: 58px
}

.header-logo.plan h4{
    position: relative;
    bottom: 96px;
    margin-left: 300px;
    margin-right: 300px;
}

.student-form #form-header{
 margin-bottom: 30px;
}

.student-form .student-form-control{
  padding-top: 10px;
}

.student-form .material-icons.toggle{
  margin-right: 5px;
  font-size: 18px;
}

.student-form  .selected-courses-container{
  margin-top: 25px;
}

.student-form .selector-label,
.student-form .selected-courses-container .course-selector
{
  position: relative;
  left: 30px;
}

.student-form .preference-label{
  left: 18px;
  position: relative;
  bottom: -30px;
}

.student-form .preference-label.time{
  margin-top: 25px;
  bottom: -22px;
}

.student-form .selector-label{
  bottom: -10px;
}

.student-form .selected-courses-container .course-selector
{
  max-width: 275px;
}

.student-form .selected-courses-container .course-selector{
  margin-bottom: 30px;
}

.student-form .selected-courses-container .selected-courses{
  position: relative;
  left: 30px;
}

.student-form .course-err-msg{
  color: red;
  margin-left: 0;
  width: 100%;
  margin-top: -30px;
  margin-bottom: 15px;
  margin-left: 30px;
  font-size: 12px;
}

.student-form .submit-error{
  text-align: center;
  width: 50%;
  margin: 0 25%;
  font-size: 12px;
  color: red;
}

.student-form select{
  font-size: 16px;
}

.student-form #submit{
  margin-bottom: 20px;
}

.student-form .course-chips-wrapper{
  min-height: 150px;
}

#schedule-header{
  margin-top: -30px;
  margin-bottom: 25px;
  text-align: left;
}

.plan-container h5{
  font-family: 'Londrina Solid', cursive;
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: left;
  color: #571D2E;
}

.plan-container .schedule-container{
  margin: 3%;
  
}

.plan-container .schedule-container .VerticalViewLayout-container-124{
  height: 400px;
  overflow: scroll;
}

.card-container{
  height: 120px;
  width: 280px;
}




