.App {
  text-align: center;
}

/* global styles */

.title-wrapper{
  margin-top: 100px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-family: 'Londrina Solid', cursive;
}
.title-wrapper h1{
    color:  #571D2E;
    font-size: 120px;
    text-align: center;
}

.home-bottom{
  background-color: white;
}

.home-bottom img{
  width: 200px;
  margin-top: 21.5px;
}

/* nvbR STUFF*/
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color:#571D2E;
  height: 90px;
  padding: 20px;
}

.App-header .text-secondary{
  color: #A98638!important;
  font-family: 'Londrina Solid', cursive;
  font-size: 1em;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.navbar {
  text-transform: uppercase;
  margin-top: auto;
}

.error-msg{
  color: red!important;
  margin-top: 5px;
  font-size: 12px;
}

#top-filler {
  margin-bottom: auto;
}

#nav-container {
  align-items: flex-end;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.label-info.form-label a{
  color: rgba(23, 162, 184);
  margin-top: 10px;
}

.label-info.form-label a:hover{
  text-decoration: none;
}



.header-logo{
  font-family: 'Londrina Solid', cursive;
  color: #A98638;
  position: relative;
  bottom: 48px;
  text-shadow: 2px 2px 800px bisque;
  margin-left: 400px;
  margin-right: 400px;
}
.title-for-loggedIn{
  position: absolute;
  font-size: 51px;
  margin-left: 43%;
}
.semester-form-component{
  text-align: left;
  width: 107%;
  margin-left: -4%;
  padding: 25px;
}

.student-form{
  margin-top: 50px;
  min-width: 400px;
}

.student-form #form-header{
 margin-bottom: 30px;
}

.student-form .material-icons.toggle{
  margin-right: 5px;
  font-size: 18px;
}

.student-form  .selected-courses-container{
  margin-top: 25px;
}

.student-form .selected-courses-container .course-selector, .student-form .selected-courses-container .course-selector-label{
  margin-left: 22px;
  max-width: 380px;
}

.student-form .selected-courses-container .course-selector{
  margin-bottom: 30px;
}

.student-form .selected-courses-container .selected-courses{
  margin-left: 15px;
}

.student-form .course-err-msg{
  color: red;
  margin-left: 0;
  width: 100%;
  margin-bottom: 15px;
  margin-left: 14px;
  font-size: 12px;
}

.student-form .submit-error{
  text-align: center;
  width: 50%;
  margin: 15px 25%;
  font-size: 12px;
  color: red;
}

.student-form #submit{
  margin-bottom: 20px;
}

.plan-container .schedule-container{
  margin-top: 50px;
}

.plan-container .schedule-container .schedule{
  max-height: 350px;
}

.plan-container .schedule-container .VerticalViewLayout-container-124{
  height: 300px;
  overflow: scroll;
}